@import "../../node_modules/openblock-gui/src/css/units.css";
@import "../../node_modules/openblock-gui/src/css/colors.css";
@import "../../node_modules/openblock-gui/src/css/z-index.css";

.drawer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    min-width: 0;
    overflow: hidden;
    background: #f1f3f5;
}

.drawer.collapsed {
    overflow: visible;
    background: transparent;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 320px;
    min-height: 0;
    padding: 0 2px;
    opacity: 1;
    transition: opacity 100ms ease;
}

.collapsed .content {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.code-editor-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-height: 0;
    overflow: hidden;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.5rem;
    background: $ui-white;
    box-sizing: border-box;
}

.resize-handle {
    position: absolute;
    z-index: $z-index-add-button;
    top: 0;
    bottom: 0;
    left: -3px;
    width: 7px;
    cursor: col-resize;
}

.resize-handle::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3px;
    width: 1px;
    background: transparent;
    transition: background 100ms ease, width 100ms ease;
}

.resize-handle:hover::after,
.resizing .resize-handle::after {
    width: 3px;
    background: $motion-primary;
}

.collapsed .resize-handle {
    display: none;
}

.button {
    border: 1px solid $ui-black-transparent;
    background: $ui-white;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background: $ui-secondary;
}

.lock-button {
    position: absolute;
    z-index: $z-index-add-button;
    top: -1px;
    right: -1px;
    width: 34px;
    height: 34px;
    border-radius: 0 0.5rem 0 0.5rem;
}

.lock-icon {
    width: 16px;
    height: 16px;
}
